<div class="col-12">
  <div [title]="carouselName" [attr.id]="carouselName" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <ng-container *ngFor="let image of carouselImages;let i = index;">
        <button type="button" [attr.data-bs-target]="'#' + carouselName" [attr.data-bs-slide-to]="i" [attr.aria-label]="'Slide ' +  i+1"
        [class]="i <= 0 ? 'active': ''" [attr.aria-current]="i <= 0 ? 'true': ''" [title]="i" ></button>
      </ng-container>
    </div>
    <div class="carousel-inner">
      <div  *ngFor="let image of carouselImages;let i = index;" [class]="i <= 0 ? 'carousel-item active' : 'carousel-item'">
        <img [src]="image" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + carouselName"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + carouselName"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>